.group {
  & > div {
    & input,
    select {
      border: 1px solid #ccc;
      margin-bottom: 1rem;
      padding: 0.4rem;
      border-radius: 5px;
      margin-right: 0.7rem;
    }
    &:nth-of-type(odd) {
      display: flex;
      height: 7vh;
    }
  }
}

.btnGrad {
  margin: 10px;

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  //    box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  display: block;
  outline: none;
  border: none;
  margin: auto;
  padding: 0.5rem;
  width: 30%;
  height: 2.2rem;
  color: #212121;
  cursor: pointer;

  &:hover {
    background-position: right center; /* change the direction of the change here */
    color: #000080;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.success {
  animation-duration: 1.8s;
  animation-fill-mode: both;
  animation-name: bounceIn;
  animation-iteration-count: infinite;
}

@keyframes bounceIn {
  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.files {
  & > div {
    display: flex;
    flex-direction: column;
    // align-items: center;
    & > input {
      border: 1px solid #ccc;
      margin-bottom: 1rem;
      padding: 0.4rem;
      border-radius: 5px;
      margin-right: 0.7rem;
    }
  }
}
