.checkoutForm {
  & .radios {
    margin: 0.7rem 0 1rem 2rem;
  }
  .inputControl {
    border: 1px solid rgba(204, 204, 204, 0.726);
    border-radius: 5px;
    display: flex;
    height: 5vh;
    width: 300px;
    margin-bottom: 2rem;
    & select,
    input {
      width: 100%;
    }
    & span {
      width: 40px;
      height: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(204, 204, 204, 0.726);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background-color: #e9ecef;
    }
    & > * {
      border: none;
      outline: none;
    }
  }

  .formGroup {
    display: flex;
    justify-content: space-around;
  }
}
