.carCard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 3px;
}

.carCard img {
  width: 150px;
  -o-object-fit: contain;
  object-fit: contain;
  padding: 0.8rem;
}

.carCard .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.carCard .buttons {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.carCard .description {
  padding: 1rem;
}

.carBtn {
  background-color: #e3b645;
  color: #212121;
  width: 50px;
  outline: none;
  border: none;
}
.info {
  background: "#f5f5f5";
  width: "fit-content";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  padding: " 0.1rem 0.3rem";
  transform: "scale(.85)";
}
.details {
  background: #f5f5f5;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.3rem;
  transform: scale(0.85);
}
.details > span {
  display: inline-flex;
  alignitems: center;
  justifycontent: center;
}
.detailsHeader {
  text-align: start;
}

/*# sourceMappingURL=Pick.module.css.map */
@media screen and (max-width: 480px) {
  .carCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .carCard .buttons {
    display: flex;
    flex-direction: revert;
    justify-content: space-between;
    width: 70%;
  }
  .info {
    display: flex;
    width: 50%;
  }
  .details {
    margin: auto;
  }
  .detailsHeader {
    text-align: center;
  }
  .carCard .description {
    text-align: center;
  }
}
